@import "_solarized";
@import "_elements";
@import "aleffont";

@gutter: 20px;
@sidebar-width: 300px;


/* Tag mixin */
.tag-mixin {
    color: @base3;
    display: inline-block; background-color: @orange;
    padding: 0 5px; text-decoration: none;
    margin: 0 2px;
    .rounded(8px); 
    &:hover {text-decoration: underline}
    &:visited { color: @base3;  }
  }

#without-footer {
  position: relative;
}

#main-header {
  background: @base03 url("../img/header_bg.png");
  text-align: center;
  a {
    text-decoration: none;
    &:hover { color: @orange; }
  }
  h1 {
    margin:0;
    .box-shadow(0 0 5px rgba(0,0,0, 0.4));
    .gradient(@base01, @base02, @base01);
    a {display:block; padding: @gutter/4 0;}
    img { display: block; border:0; margin: 0 auto; }
  }
  ul {
    margin:0;
    padding: 0 @gutter;
    text-align:left;
    html[dir=rtl] & { text-align:right; }
  }
  li {
    padding: @gutter / 4 0;
    a { display: block; letter-spacing:1px; }
  }
}


#main-menu li a { text-shadow: #000 1px 1px 2px; }

#main-menu-toggle {
  position: absolute;
  display: none;
  top:  @gutter / 4;
  right:  @gutter / 2;
  font-size: 1.6em;
  .gradient(@base01, @base02, @base01);
  .rounded(10px);
  .box-shadow(0 0 5px rgba(0,0,0, 0.4));
  padding: 0 @gutter / 2;
  outline:  none;

  html[dir=rtl] & { left: @gutter/2; right:auto  }
}

#social-links, #social-links2 {
  display:none;
  text-shadow: #000 1px 1px 2px;
}

#content {
  position: relative;
  padding: @gutter;
  h1:first-child { margin-top: 0 }
  .accentize(@orange);
}

#main-footer {
  padding: @gutter / 2 @gutter;
  background-color: @orange;
  color: @base3;
  overflow: hidden;
  .clearfix;
  .inner-shadow(0, 5px, 5px, 0.3);
  .license {
    float:left;
    html[dir=rtl] & { float:right  }
    .accentize(@base3);
    color: @base3;
    span {display: none;}
    img {
      border-width:0; vertical-align:middle;
      padding-right:10px;
      display:inline-block;

      html[dir=rtl] & { padding-right:0; padding-left:10px;  }
    }
  }
  .html5 {
    float:right; text-align: right;
    html[dir=rtl] & { float:left; text-align:left  }
  }
}

#talks {
  .clearfix;
  article {
    margin: 20px 0; padding:20px 0;
    text-align:center;
    position: relative;

    img { display:block;  margin:0 auto;
        .box-shadow(-4px 4px 8px rgba(0,0,0, .25));
        html[dir=rtl] & { .box-shadow(4px 4px 8px rgba(0,0,0, .25)); }
    }
    div {
      .accentize(@base3);
      a {
        display: inline-block; background-color: @orange;
        padding: @gutter/ 4 @gutter / 2; text-decoration: none;
        margin: 0 @gutter / 4;
        .rounded(10px); .box-shadow(0 0 5px rgba(0,0,0, 0.4));
        &:hover {text-decoration: underline}
      }
    }
  }
}

@media screen and (max-width: 799px) {
  #main-header {
    ul { padding:0; }
    li {
      border-bottom:1px solid @base0;
      padding:0;
      a { padding: @gutter/2 @gutter; }
    }
    #main-menu { display: none;  }
    #social-links2 {
      ul {
        list-style: none;
        border-bottom:1px solid @base0;
        .clearfix;
      }
      span { display:none }
      li {
        border-bottom:0 none;
        float: left;
        html[dir=rtl] & { float: right; }
        width: 16%;
        a { display: block; font-size:1.5em; text-align: center; }
      }
    }
  }

  #main-menu-toggle  { display: block; }
}

@media screen and (min-width: 800px) {

  #main-header{
    padding: @gutter/2 @gutter;
    position:relative;
    .clearfix;
    overflow: hidden;

    .box-shadow(0 5px 8px rgba(0,0,0, .8));
    html[dir=rtl] & { left:0; right:auto;  }

    h1 {
      .rounded(10px);  width: 6em; float: left;
      html[dir=rtl] & { float:right; }
    }
    #main-menu ul {
      margin: @gutter / 2 0 0; padding:0; text-align: center;
      li {
        display: inline-block; margin: 0 @gutter/2;
        i {display:none}
      }
    }
    #main-menu { display: block  }
  }

  #content {
    padding: @gutter 0;
    max-width: 600px;
    margin: @gutter auto;
  }

  #main-footer {
    .license span {display: inline}
  }

  #talks {
    article {
      max-width: 400px;
      margin: @gutter*3  auto;
      padding: 0 0 0 200px;
      text-align: inherit;

      html[dir=rtl] & {padding-left:0; padding: 0 200px 0 0;}
      img {
        position: absolute; top:0; left:0;
        html[dir=rtl] & {left:auto; right:0;}
      }
      div { text-align: center  }
      h2 { margin: 0 0 @gutter / 2; font-size: 1em  }
      p { margin: 0 0 @gutter }
    }
  }

  #social-links {
    display: block; float:right;
    padding-top: @gutter/4;
    html[dir=rtl] & { float:left; }
    ul {
      list-style: none;
      padding: 0;
      .clearfix;
    }
    span { display:none }
    li {
      display: inline-block;
      a { display: block; font-size:1.5em; text-align: center; }
    }
  }

  .post-image {
    float:right; margin:0 0 @gutter @gutter;
    .box-shadow(-4px 4px 8px rgba(0,0,0, .25));
    html[dir=rtl] & {
      float:left; margin: 0 @gutter @gutter 0;
      .box-shadow(4px 4px 8px rgba(0,0,0, .25));
    }
  }

  #welcome { padding-bottom: @gutter;  }
}

body {
  background: @base3 url("../img/body_bg.png");
  font-family: Alef, Arial, sans-serif;
}

html[dir=rtl] {
  overflow-x: hidden;
}

#welcome {
  margin-bottom: @gutter;
  p {
    padding-left: 50px;
    background: url("../img/meir_ltr.png") 0 2px no-repeat;
    min-height: 40px;
    html[dir=rtl] & {
      padding-left: 0;
      padding-right: 50px;
      background: url("../img/meir_rtl.png") 100% 5px no-repeat;
    }
  }
}

body.index #page-index, body.talks #page-talks, body.toolbox #page-toolbox,
body.links #page-links, body.about #page-about, body.blog #page-archive,
body.tags #page-tags {
  a {color:@orange;}
}

#content .blog-post {
  max-width: 600px;
  margin: 0 auto;

  p {text-align: justify; }
  header {
    margin-bottom: @gutter;
    h1 { margin:0 }
    .post-date { font-size: 0.9em }
  }
  footer {
    border-top: 1px solid @base2;
    border-bottom: 1px solid @base2;
    padding: @gutter/2 0;
    margin: @gutter 0;
    font-size: 0.9em;

    .clearfix;
    ul  {
      list-style: none;
      margin:0; padding:0;
    }
    li { display: inline; }

    .post-tags { 
        border-bottom: 1px solid @base2; padding-bottom: @gutter/2;
        a { .tag-mixin }
    }
    .post-translations {  padding-top: @gutter/2; }
  }

  .post-prev-next {
    margin-top: @gutter/2;
    padding-top: @gutter/2;
    border-top: 1px solid @base2;
    .clearfix;
  }

  .post-prev {
    float:left;
    html[dir=rtl] & { float:right; }
   }

  .post-next {
    float:right;
    html[dir=rtl] & { float:left; }
   }
}

.share-service {
  text-align: center;
  border-bottom: 1px solid @base2;
}

.post-excerpt {
  .clearfix;
  margin: @gutter 0;
  padding-bottom: @gutter;
  border-bottom: 1px solid @base2;
  footer { margin-top: @gutter/2  }
}


#content ul.tags-cloud {
    list-style: none;
    margin:0; padding:0;
    text-align: justify;

    li { display: inline-block; padding: 0.5ex; vertical-align: middle; }
    a { 
        .tag-mixin;
    }
    .tag-2 { font-size: 1.2em; background-color: @red; }
    .tag-3 { font-size: 1.4em; background-color: @yellow; }
    .tag-4 { font-size: 1.6em; background-color: @blue; }
    .tag-5 { font-size: 1.8em; background-color: @cyan; }
    .tag-6 { font-size: 2em; background-color: @green; }
}


pre {
  direction: ltr; text-align: left;
  .inner-shadow(8px, 8px, 8px, 0.3);
  white-space: pre; overflow: auto; padding: @gutter/2;}

html[dir=rtl] {
  #dsq-content ul, #dsq-content li, #dsq-content ol, #dsq-content cite,
  #dsq-content div, #dsq-content table, #dsq-content td, #dsq-content th,
  #dsq-content p, #dsq-content a, #dsq-content img, #dsq-content caption {
    text-align: right; }
  #dsq-content {
    .dsq-options span { margin-right: 0; margin-left: 10px; }
    .dsq-request-user-logout { float: left; }
    .dsq-request-user-name { padding: 0.25em 0.5em 0 0; vertical-align: top; direction:ltr }
    .dsq-post-footer .dsq-button { float: left; margin-right: 3px; margin-left:0;}
    .dsq-attach-media { float: right;}
    @dsq-margin: 30px;
    .dsq-comment { margin-left:0;}
    .dsq-depth-1 { margin-left:0 !important; margin-right: @dsq-margin;  }
    .dsq-depth-2 { margin-left:0 !important; margin-right: @dsq-margin * 2;  }
    .dsq-depth-3 { margin-left:0 !important; margin-right: @dsq-margin * 3;  }
    .dsq-depth-4 { margin-left:0 !important; margin-right: @dsq-margin * 4;  }

    .dsq-comment-hide-thread, .dsq-comment-show-thread {
      left:0; right: auto; text-indent: 0;
    }
  }
}

.bx-wrapper { 
    direction: ltr;

    ul { margin:0; padding: 0; }
    .bx-caption {
      span { font-family: inherit; font-size: 1em;  }
    }
}

#content .align-center { 
    text-align: center;
    p { text-align: center; }
    img {
      .box-shadow(-4px 4px 8px rgba(0,0,0, .25));
      html[dir=rtl] & {
        .box-shadow(4px 4px 8px rgba(0,0,0, .25));
      }
    }
}

.highlights { font-weight: bold; }
