@import "_solarized";
@import "_elements";

@gutter: 20px;
@sidebar-width: 300px;


#without-footer {
  position: relative;
}

#main-header {
  background: @base03 url("../img/header_bg.png");
  text-align: center;
  a {
    text-decoration: none;
    &:hover { color: @orange; }
  }
  h1 {
    margin:0;
    .box-shadow(0 0 5px rgba(0,0,0, 0.4));
    .gradient(@base01, @base02, @base01);
    a {display:block; padding: @gutter/4 0;}
    img { display: block; border:0; margin: 0 auto; }
  }
  ul {
    margin:0;
    padding: 0 @gutter;
    text-align:left;
    html[dir=rtl] & { text-align:right; }
  }
  li {
    padding: @gutter / 4 0;
    a { display: block; letter-spacing:1px; }
  }
}


#main-menu li a { text-shadow: #000 1px 1px 2px; }

#main-menu-toggle {
  position: absolute;
  display: none;
  top:  @gutter / 4;
  right:  @gutter / 2;
  font-size: 1.6em;
  .gradient(@base01, @base02, @base01);
  .rounded(10px);
  .box-shadow(0 0 5px rgba(0,0,0, 0.4));
  padding: 0 @gutter / 2;
  outline:  none;

  html[dir=rtl] & { left: @gutter/2; right:auto  }
}

#social-links, #social-links2 {
  display:none;
  text-shadow: #000 1px 1px 2px;
}

#content {
  position: relative;
  padding: @gutter;
  h1:first-child { margin-top: 0 }
  .accentize(@orange);
}

#main-footer {
  padding: @gutter / 2 @gutter;
  background-color: @orange;
  color: @base3;
  overflow: hidden;
  .clearfix;
  .inner-shadow(0, 5px, 5px, 0.3);
  .license {
    float:left;
    html[dir=rtl] & { float:right  }
    .accentize(@base3);
    color: @base3;
    span {display: none;}
    img {
      border-width:0; vertical-align:middle;
      padding-right:10px;
      display:inline-block;

      html[dir=rtl] & { padding-right:0; padding-left:10px;  }
    }
  }
  .html5 {
    float:right; text-align: right;
    html[dir=rtl] & { float:left; text-align:left  }
  }
}

#talks { 
  .clearfix;
  article {
    margin: 20px 0; padding:20px 0;
    text-align:center;
    position: relative;

    img { display:block;  margin:0 auto;
        .box-shadow(-4px 4px 8px rgba(0,0,0, .25));
        html[dir=rtl] & { .box-shadow(4px 4px 8px rgba(0,0,0, .25)); }
    }
    div {
      .accentize(@base3);
      a { 
        display: inline-block; background-color: @orange;
        padding: @gutter/ 4 @gutter / 2; text-decoration: none;
        margin: 0 @gutter / 4;
        .rounded(10px); .box-shadow(0 0 5px rgba(0,0,0, 0.4));
        &:hover {text-decoration: underline}
      }
    } 
  } 
}

@media screen and (max-width: 799px) {
  #main-header {
    ul { padding:0; }
    li { 
      border-bottom:1px solid @base0;
      padding:0; 
      a { padding: @gutter/2 @gutter; }
    }
    #main-menu { display: none;  }
    #social-links2 {
      ul {
        list-style: none;
        border-bottom:1px solid @base0;
        .clearfix;
      }
      span { display:none }
      li {
        border-bottom:0 none;
        float: left;
        html[dir=rtl] & { float: right; }
        width: 16%;
        a { display: block; font-size:1.5em; text-align: center; }
      }
    }
  }

  #main-menu-toggle  { display: block; }
}

@media screen and (min-width: 800px) {

  #main-header{
    padding: 0 @gutter;
    position:absolute; width: @sidebar-width - @gutter * 2;
    right:0; top:0; bottom:0;

    .box-shadow(0 -5px 8px rgba(0,0,0, .8));
    html[dir=rtl] & { left:0; right:auto;  }

    h1 { .rounded(10px); }
    ul { margin: @gutter / 2 0 0; padding:0;  }
    #main-menu { display: block  }
  }

  #content { 
    min-height: 400px;
    margin-right: @sidebar-width;
    padding: @gutter 8%;
    html[dir=rtl] & { margin-left: @sidebar-width; margin-right: 0; }
  }

  #main-footer {
    .license span {display: inline}
  }

  #talks {
    article {
      max-width: 400px;
      margin: @gutter*3  auto;
      padding: 0 0 0 200px;
      text-align: inherit;

      html[dir=rtl] & {padding-left:0; padding: 0 200px 0 0;}
      img { 
        position: absolute; top:0; left:0;
        html[dir=rtl] & {left:auto; right:0;}
      }
      div { text-align: center  }
      h2 { margin: 0 0 @gutter / 2; font-size: 1em  }
      p { margin: 0 0 @gutter }
    }   
  }

  #social-links {
    display: block;
    ul {
      list-style: none; 
      .clearfix;
    }
    span { display:none }
    li {
      float: left;
      html[dir=rtl] & { float: right; }
      width: 16%;
      a { display: block; font-size:1.5em; text-align: center; }
    }
  }

  .post-excerpt { .clearfix; }
  .post-image { 
    float:right; margin:0 0 @gutter @gutter;
    .box-shadow(-4px 4px 8px rgba(0,0,0, .25));
    html[dir=rtl] & { 
      float:left; margin: 0 @gutter @gutter 0;
      .box-shadow(4px 4px 8px rgba(0,0,0, .25));
    }
  }
}

body {
  background: @base3 url("../img/body_bg.png");
}

#welcome {
  margin-bottom: @gutter;
  p {
    padding-left: 50px;
    background: url("../img/meir_ltr.png") 0 2px no-repeat;
    min-height: 40px;
    html[dir=rtl] & {
      padding-left: 0;
      padding-right: 50px;
      background: url("../img/meir_rtl.png") 100% 5px no-repeat;
    }
  }
}

body.index #page-index, body.talks #page-talks, body.toolbox #page-toolbox,
body.links #page-links, body.about #page-about, body.blog #page-archive,
body.tags #page-tags {
  a {color:@orange;}
}

.blog-post {
  max-width: 600px;
  margin: 0 auto;

  p {text-align: justify; }
  footer {
    .clearfix;
    ul {
      list-style: none;
      margin:0; padding:0;
    }
    li { display: inline; }
  }
}

.post-excerpt {
  margin: @gutter 0;
  footer { margin-top: @gutter/2  }
}

pre { 
  direction: ltr; text-align: left;
  .inner-shadow(8px, 8px, 8px, 0.3);
  white-space: pre; overflow: auto; padding: @gutter/2;}
