<!DOCTYPE html>{% load i18n staticfiles st_core compressed pages %}{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %} :: {{ site.name }}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144x144-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-114x114-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-72x72-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" href="{% static "img/apple-touch-icon-57x57-precomposed.png" %}">
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
{% if object %}  <link rel="canonical" href="{{ object.get_absolute_url }}">{% endif %}
  {% compressed_css "meir" %}
  <script src="{% static "js/vendor/modernizr-2.6.1.min.js" %}"></script>
  {% block extra_head %}{% endblock %}
</head>
<body class="light {{ object.slug  }} {% block body_class %}{% endblock %}">
  <section id="without-footer">
  <header id="main-header" class="dark">
    <section id="social-links">
      <ul>
        <li><a href="http://www.linkedin.com/in/meirkriheli" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i><span> LinkedIn</span></a></li>
        <li><a href="https://github.com/MeirKriheli" title="GitHub" target="_blank"><i class="icon-github"></i><span> GitHub</span></a></li>
        <li><a href="https://plus.google.com/106726068290245375558" title="Google+" target="_blank"><i class="icon-google-plus"></i><span> Google+</span></a></li>
        <li><a href="http://identi.ca/meir" title="identi.ca" target="_blank"><i class="icon-comments"></i><span> identi.ca</span></a></li>
        <li><a href="{% i18n_url LANGUAGE_CODE blog_feed %}" title="RSS"><i class="icon-rss"></i><span> RSS</span></a></li>
        <li><a href="mailto:mkriheli@gmail.com" title="email" target="_blank"><i class="icon-envelope-alt"></i><span> email</span></a></li>
      </ul>
    </section>
    <h1><a href="{% i18n_url LANGUAGE_CODE pages_index %}"><img alt="{{ site.name }}" src="{% static "img/logo.png" %}"></a></h1>
    <a href="#" id="main-menu-toggle"><i class="icon-list-ul"></i></a>
    <nav id="main-menu">
{% get_page LANGUAGE_CODE "index" as index_page %}
{% get_page LANGUAGE_CODE "talks" as talks_page %}
{% get_page LANGUAGE_CODE "toolbox" as toolbox_page %}
{% get_page LANGUAGE_CODE "links" as links_page %}
{% get_page LANGUAGE_CODE "about" as about_page %}
        <ul>
            <li id="page-{{ index_page.slug }}"><a href="{{ index_page.get_absolute_url }}"><i class="icon-home"></i> {{ index_page.title }}</a></li>
            <li id="page-{{ talks_page.slug }}"><a href="{{ talks_page.get_absolute_url }}"><i class="icon-eye-open"></i> {{ talks_page.title }}</a></li>
            <li id="page-archive"><a href="{% i18n_url LANGUAGE_CODE blog_archive %}"><i class="icon-list-ul"></i> {% trans "Blog" %}</a>
            <li id="page-tags"><a href="{% i18n_url LANGUAGE_CODE blog_tags %}"><i class="icon-tags"></i> {% trans "Tags" %}</a>
            <li id="page-{{ toolbox_page.slug }}"><a href="{{ toolbox_page.get_absolute_url }}"><i class="icon-cogs"></i> {{ toolbox_page.title }}</a></li>
            <li id="page-{{ links_page.slug }}"><a href="{{ links_page.get_absolute_url }}"><i class="icon-link"></i> {{ links_page.title }}</a></li>
            <li id="page-{{ about_page.slug }}"><a href="{{ about_page.get_absolute_url }}"><i class="icon-user"></i> {{ about_page.title }}</a></li>
            {% for page in object.get_translations %}
            <li><a href="{{ page.get_absolute_url  }}" title="{{ page.title }}"><i class="icon-flag"></i> {{ page.get_language }}</a></li>
            {% endfor %}
            </ul>
    </nav>
    <section id="social-links2">
      <ul>
        <li><a href="http://www.linkedin.com/in/meirkriheli" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i><span> LinkedIn</span></a></li>
        <li><a href="https://github.com/MeirKriheli" title="GitHub" target="_blank"><i class="icon-github"></i><span> GitHub</span></a></li>
        <li><a href="https://plus.google.com/106726068290245375558" title="Google+" target="_blank"><i class="icon-google-plus"></i><span> Google+</span></a></li>
        <li><a href="http://identi.ca/meir" title="identi.ca" target="_blank"><i class="icon-comments"></i><span> identi.ca</span></a></li>
        <li><a href="{% i18n_url LANGUAGE_CODE blog_feed %}" title="RSS"><i class="icon-rss"></i><span> RSS</span></a></li>
        <li><a href="mailto:mkriheli@gmail.com" title="email" target="_blank"><i class="icon-envelope-alt"></i><span> email</span></a></li>
      </ul>
    </section>
  </header>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <section id="content">
{% block content %}{% endblock %}
  </section>

  </section> <!-- without-footer -->
  <footer id="main-footer">
    {% spaceless %}
    <section class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
        <img alt="{% trans "Content licensed under" %} {% trans "Attribution-ShareAlike 3.0 Unported" %}" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
      </a>
      <span>
        {% trans "Content licensed under" %}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">{% trans "Attribution-ShareAlike 3.0 Unported" %}</a>
      </span>
    </section>
   {% endspaceless %}
    <section class="html5">
        <a href="http://www.w3.org/html/logo/"><img src="{% static "img/HTML5_Logo_32.png" %}" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>
      </section>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.0.min.js" %}"><\/script>')</script>
  {% compressed_js "bundle" %}
  {% if GOOGLE_ANALYTICS_ID %}
  <script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_ID }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}
{% block extra_footer %}{% endblock %}
</body>
</html>
